/********************************/
/************ PAGE 2 ************/
/********************************/
@use "../variables";
@layer base, layout, components, responsive;

@layer base {
  header {
    text-align: center;
  }

  .title-page2 {
    margin: 4rem 0 2rem 0;
  }

}


@layer layout {
  .list-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 0;
  }

  .list-container-query {
    container-name: listaCQ;
    container-type: inline-size;
  }

}


@layer components {
  
  /********** TARJETAS **********/
  .card {
    display: flex;

    /*En desktop habr치 3 cards por fila*/
    flex: 0 1 calc(33.3% - 1rem);
    flex-direction: column;
    overflow: hidden;
    background: variables.$card-background-color;
    border: 2px solid variables.$card-border-color;
    border-radius: 10px;
    box-shadow: 0 12px 24px variables.opacity-color(variables.$base-color-black, .2); //rgb(0 0 0 / .2);
    transition: transform .3s, box-shadow .3s;

    .card__image {
      inline-size: 100%;
      block-size: 200px;
      object-fit: cover;
    }

    /* Para posicionar las im치genes en las cards */
    .card__image-position-1 {
      object-position: center 42%;
    }
      
    .card__image-position-2 {
      object-position: center 20%;
    }

    .card__image-position-3 {
      object-position: center 10%;
    }

    .card__content,
    .card__footer {
      padding: 1.2rem;
      margin: .8rem 0 0;
    }

    .card__footer {
      margin-block-start: auto;
    }

    .card__link {
      padding: .3rem;
      font-size: .8rem;
      font-weight: 900;
      @include variables.text-color(variables.$card-link-color);
      text-decoration: none;
      border: 2px solid variables.$card-border-button-color;
    }

    .card__title {
      margin-block-start: 0;
      font-size: 1.3rem;
      text-align: center;
      @include variables.text-color(variables.$card-title-color);
    }

  }

  .card:hover {
    box-shadow: 0 24px 48px variables.opacity-color(variables.$base-color-black, .4); //rgb(0 0 0 / .4);
    transform: translateY(-12px);
  }

}


/********************************/
/********** RESPONSIVE **********/
/********************************/

@layer responsive {
  @container listaCQ (max-width: 1024px) { 
    /*En tablet habr치 2 cards por fila*/
    .card {
      flex: 0 1 calc(50% - 1rem);
    }
  }

  @container listaCQ (max-width: 596px) { 
    /*En mobile habr치 1 card por fila*/
    .card {
      flex: 0 1 100%;
    }
  }

  @media (max-width: 1300px) {
    .title-page2 {
      margin: 3rem 0 2rem 0;
    }
  }

  @media (max-width: 768px) { 
    .title-page2 {
      margin: 2.5rem 0 2rem 0;
    }
  }
}


