
<footer class="text-center">
  <div class="mt-0 footer">
    <div class="container text-center text-md-center mt-5">
      <div class="row footer__container mt-3">
        <div class="footer__logo col-md-2 col-lg-2 mx-auto mb-4">
          <a class="navbar-brand" href="./index.html">
            <img src="./assets/images/logo.png?as=webp&width=100" class="rounded float-start" alt="Logo del sitio">
          </a>
        </div>
        <div class="col-md-9 col-lg-8 align-content-center mx-auto mb-4">
          <a class="text-decoration-none link-body-emphasis px-2 py-2 me-4" href="./index.html">Portada</a>
          <a class="text-decoration-none link-body-emphasis px-2 py-2 me-4" href="./page2.html">Jornadas</a>
          <a class="text-decoration-none link-body-emphasis px-2 py-2 me-4" href="./page3.html">Artículo</a>
          <a class="text-decoration-none link-body-emphasis px-2 py-2 me-4" href="./page4.html">Inscripción</a>
        </div>
        <div class="col-md-3 col-lg-2 align-content-center mb-4 ">
            
            <a class="text-decoration-none link-body-emphasis py-2 me-4" href="">
              <i class="fa-brands fa-google-plus-g"></i>
            </a>
            <a class="text-decoration-none link-body-emphasis py-2 me-4" href="">
              <i class="fa-brands fa-facebook"></i>
            </a>
            <a class="text-decoration-none link-body-emphasis py-2" href="">
              <i class="fa-brands fa-x-twitter"></i>
            </a>   
        </div>
      </div>
    </div>
  </div>
</footer>
