@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$primary-color-1: #811616;
$primary-color-2: rgb(39 94 82);

$secondary-color-1: #ca7d74;

$main-background-color: #f9f7f3;

$base-color-black: #000;
$base-color-white: #fff;


$main-text-color: #2e2e2e;
$footer-background-color: rgb(99 161 148);


$card-title-color: #b30e0e;
$card-link-color: #b30e0e;
$card-border-button-color: #b30e0e;
$card-background-color: #fff;
$card-border-color: #f1e4d0;




// Mixin para indicar el color de un texto
// (con un color por defecto)

@mixin text-color($color: $main-text-color) {
  color: $color;
}

// Función que recibe como parámetro un color y el valor del canal alpha
// y devuelve el color con el alpha aplicado para modificar el nivel de transparencia

@function opacity-color($color, $opacity: 1) {
  @return rgba($color, $opacity);
}
  

// Mixin para añadir un fondo de color al header y al footer,
// además de añadir una imagen de fondo (opcional)

@mixin banner($orientation, $color1, $color2, $image: none) {
  background-image: linear-gradient(to $orientation, $color1, $color2), $image;
  background-size: cover;
  background-blend-mode: multiply;
}
  

/********************************************/
// Definición de porcentajes de anchura
$widths: (
  10: 10%,
  20: 20%,
  30: 30%,
  40: 40%,
  50: 50%,
  60: 60%,
  70: 70%,
  80: 80%,
  90: 90%,
  100: 100%
);

/*
  Aplica una anchura pasada como parámetro y
  centra el contenido del elemento contenedor
*/
@mixin width($width: 80%, $important: false) {
  inline-size: $width;
  margin-inline: auto;
}

